.d-block {
    text-align: center;
    width: 30%;
    height: 50%;
    justify-content: center;
   
    /* background-color: skyblue; */
}
img {

    margin: auto;
    
    }
.logo-header{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.main-logo{
    height: 150px
}

.caption{
    color: orange;
    text-align: center;
    justify-content: center;
}

/* .background{
    background-color: skyblue;
} */