.welcome{
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .card{
    opacity: 90%;
    width:15rem;
}
.background {
    background-image: url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-color: #cccccc;
    /* opacity: 90%; */
    background-position: 60% 50%; 
    background-repeat: repeat-y;
   } 
   

.table-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.delete-button {
    width: 10rem;
    padding: 10px 8px;
    border-radius: 20px;
    background-color: #fa5555;
    color: white;
    margin-top: 25px;
  }
  .return-button {
    width: 10rem;
    padding: 10px 8px;
    border-radius: 20px;
    background-color:#7dbf4e;
    color: white;
    margin-top: 25px;
  }

  .remove-button {
    width: 10rem;
    padding: 10px 8px;
    border-radius: 20px;
    background-color: #809dff;
    color: white;
    margin-top: 25px;
  }

 