.welcome{
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .card{
    opacity: 90%;
    width:15rem;
}
.background {
    background-image: url("https://www.publicdomainpictures.net/pictures/210000/velka/living-room-1490132509L6W.jpg");
    background-color: #cccccc;
    opacity: 90%;
    background-position: 100% 30%; 
    background-repeat: repeat-y;
   } 
   

.table-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.delete-button {
    width: 10rem;
    padding: 10px 8px;
    border-radius: 20px;
    background-color: #fa5555;
    color: white;
    margin-top: 25px;
  }
  .return-button {
    width: 10rem;
    padding: 10px 8px;
    border-radius: 20px;
    background-color:#7dbf4e;
    color: white;
    margin-top: 25px;
  }

  .remove-button {
    width: 10rem;
    padding: 10px 8px;
    border-radius: 20px;
    background-color: #809dff;
    color: white;
    margin-top: 25px;
  }

 